* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
}

.hero {
    width: 30%;
    background-image: url("image.jpg");
    background-size: cover;
    position: relative;
}

.hero-content {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    top: 20%;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero img {
    width: 15%;
    height: auto;
}

.hero h1 {
    font-size: 70px;
    color: white;
}

form {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: wheat;
    font-size: large;
}

form p {
    padding: 20px 50px;
    font-size: x-large;
    font-weight: bold;
}

.inputs {
    padding: 20px 50px;
    background-color: white;
}

.col {
    display: flex;
    gap: 100px;
}

input {
    width: 20rem;
    height: 2rem;
    padding: 5px;
    font-size: large;
}

input:focus {
    border-color: slateblue;
}

input:invalid {
    border-color: red;
}

#create-account {
    font-size: medium;
    padding: 10px;
    color: white;
    background-color: #596D48;
    border: 2px black solid;
    border-radius: 10px;
    margin: 0 50px;
}

#login {
    text-decoration: none;
    color: #596D48;
}

#login:hover {
    text-decoration: underline;
}